
<h1>정보</h1>
<ul>
    <li><a href="@Url.Action("VCBDeviceInfo", "DeviceInfo")">VCB</a></li>
    <li><a href="@Url.Action("ITRDeviceInfo", "DeviceInfo")">Interface TR</a></li>
    <li><a href="@Url.Action("SMDeviceInfo", "DeviceInfo")">Sub Module</a></li>
    <li><a href="@Url.Action("DCCBDeviceInfo", "DeviceInfo")">DCCB</a></li>
    <li><a href="@Url.Action("DCCableDeviceInfo", "DeviceInfo")">DC Cable</a></li>
</ul>
